@import '../node_modules/sh-core/src/base';

#react-quill-editor {
    display: block;
    float: left;
    width: 100%;

    .quill-toolbar.ql-toolbar {
        background: $color-box-background;
        margin-bottom: 10px;
        border-radius: $size-border-radius-small;
    }

    .ql-snow.ql-toolbar .ql-picker.ql-font {
        width: 160px;
    }

    .ql-snow.ql-toolbar .ql-picker.ql-size {
        width: 90px;
    }

    .quill-contents-label {
        background: $color-box-background;
        color: $color-thirdary;
        text-transform: uppercase;
        border-radius: $size-border-radius-small $size-border-radius-small 0 0;
        font-family: $font-family;
        padding: 8px 8px 0;
        font-size: $size-font-small;
        font-weight: $font-weight-light;
    }

    .required-label {
        padding-left: 5px;
        color: $color-error;
    }

    .quill-contents {
        box-sizing: border-box;
        background: $color-box-background;
        color: $color-dark-line;
        height: 200px;
        overflow-y: scroll;
        padding: 8px;
        border-radius: 0 0 $size-border-radius-small $size-border-radius-small;
    }

    $fonts-list: sans-serif, serif, monospace, Arial, Calibri, "Comic Sans MS", Georgia, Impact, Tahoma, "Times New Roman", Verdana;
    @each $font in $fonts-list {
    $i: index($fonts-list, $font);
    span[title="Font"] .ql-picker-item:nth-child(#{$i}) {
      font-family: $font
    }
  }

  $size-list: 10px, 13px, 18px, 32px;
  @each $size in $size-list {
    $i: index($size-list, $size); 
    span[title="Size"] .ql-picker-item:nth-child(#{$i}) {
      font-size: $size
    }
  }
}
